body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:-54px;
    top:-6px;
    width:1215px;
    height:1388px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1215px;
    height:1388px;
}

.u1 {
    position:absolute;
    left:2px;
    top:686px;
    width:1211px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:174px;
    top:75px;
    width:260px;
    height:227px;
    overflow:hidden;
}

#pd0u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:260px;
    height:227px;
    
}

.u3_container {
    position:absolute;
    left:-12px;
    top:0px;
    width:271px;
    height:194px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:271px;
    height:194px;
}

.u4 {
    position:absolute;
    left:2px;
    top:89px;
    width:267px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_container {
    position:absolute;
    left:0px;
    top:33px;
    width:259px;
    height:193px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:259px;
    height:193px;
}

.u6 {
    position:absolute;
    left:2px;
    top:88px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:7px;
    top:50px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:85px;
    top:46px;
    width:161px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:7px;
    top:86px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:85px;
    top:81px;
    width:161px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:25px;
    top:160px;
    width:79px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:147px;
    top:160px;
    width:79px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

