body {
    margin: 0px;
    background-image: url('bg.jpg');
    background-position: left top;
    background-repeat: no-repeat;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:507px;
    top:257px;
    width:51px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:507px;
    top:290px;
    width:51px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:585px;
    top:335px;
    width:44px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 15px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u3 {
    position:absolute;
    left:658px;
    top:339px;
    width:34px;
    height:18px;
    overflow:hidden;
}

#pd2u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:18px;
    
}

.u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:18px;
    
}

.u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:18px;
    
}

.u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:500px;
    top:24px;
    width:285px;
    height:59px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:568px;
    top:249px;
    width:148px;
    height:23px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:568px;
    top:290px;
    width:148px;
    height:23px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u10 {
    position:absolute;
    left:497px;
    top:173px;
    width:356px;
    height:258px;
    overflow:hidden;
}

#pd0u10 {
    position:absolute;
    left:0px;
    top:0px;
    width:356px;
    height:258px;
    
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:357px;
    height:255px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:357px;
    height:255px;
}

.u12 {
    position:absolute;
    left:2px;
    top:120px;
    width:353px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:70px;
    top:116px;
    width:275px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:37px;
    top:68px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../登录页面_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:334px;
    top:0px;
    width:23px;
    height:24px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:24px;
}

.u16 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u17 {
    position:absolute;
    left:497px;
    top:173px;
    width:356px;
    height:258px;
    overflow:hidden;
}

#pd0u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:356px;
    height:258px;
    
}

.u18_container {
    position:absolute;
    left:0px;
    top:0px;
    width:355px;
    height:257px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:355px;
    height:257px;
}

.u19 {
    position:absolute;
    left:2px;
    top:120px;
    width:351px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:35px;
    top:64px;
    width:77px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:121px;
    top:104px;
    width:142px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../登录页面_files/u15_normal.png');
}

.u22_container {
    position:absolute;
    left:332px;
    top:0px;
    width:23px;
    height:24px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:24px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

