body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1165px;
    height:750px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1165px;
    height:750px;
}

.u1 {
    position:absolute;
    left:2px;
    top:367px;
    width:1161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:0px;
    top:46px;
    width:1101px;
    height:45px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1101px;
    height:45px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:1066px;
    top:15px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_line {
    background-image: url('../商品管理_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1101px;
    height:3px;
}

.u5 {
    position:absolute;
    left:0px;
    top:41px;
    width:1101px;
    height:10px;
    
}

.u6_line {
    background-image: url('../商品管理_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1101px;
    height:3px;
}

.u6 {
    position:absolute;
    left:-10px;
    top:86px;
    width:1101px;
    height:10px;
    
}

.u7_line {
    background-image: url('../商品管理_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:27px;
}

.u7 {
    position:absolute;
    left:120px;
    top:55px;
    width:10px;
    height:27px;
    
}

.u8_line {
    background-image: url('../商品管理_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:27px;
}

.u8 {
    position:absolute;
    left:240px;
    top:55px;
    width:10px;
    height:27px;
    
}

#u9 {
    position:absolute;
    left:130px;
    top:46px;
    width:111px;
    height:46px;
    overflow:hidden;
}

#pd0u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:111px;
    height:46px;
    
}

.u10_container {
    position:absolute;
    left:-7px;
    top:-8px;
    width:159px;
    height:83px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:83px;
}

.u11 {
    position:absolute;
    left:2px;
    top:34px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:30px;
    top:61px;
    width:67px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:150px;
    top:61px;
    width:69px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:272px;
    top:61px;
    width:67px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:392px;
    top:61px;
    width:67px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../商品管理_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:27px;
}

.u16 {
    position:absolute;
    left:360px;
    top:54px;
    width:10px;
    height:27px;
    
}

