body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:24px;
    top:68px;
    width:80px;
    height:84px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:84px;
}

.u1 {
    position:absolute;
    left:2px;
    top:34px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:541px;
    top:20px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:24px;
    top:20px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:72px;
    top:20px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:619px;
    top:20px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:156px;
    top:68px;
    width:368px;
    height:33px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_normal {
    background-image: url('../User_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:549px;
    top:68px;
    width:33px;
    height:33px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:33px;
}

.u8 {
    position:absolute;
    left:2px;
    top:8px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../User_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:728px;
    height:3px;
}

.u9 {
    position:absolute;
    left:11px;
    top:36px;
    width:728px;
    height:10px;
    
}

.u11_normal {
    background-image: url('../订单提交页面_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:25px;
    top:162px;
    width:124px;
    height:32px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:38px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:120px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../订单提交页面_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:149px;
    top:162px;
    width:153px;
    height:32px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:159px;
    height:38px;
}

.u14 {
    position:absolute;
    left:2px;
    top:6px;
    width:149px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../订单提交页面_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:302px;
    top:162px;
    width:147px;
    height:32px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:38px;
}

.u16 {
    position:absolute;
    left:2px;
    top:6px;
    width:143px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:25px;
    top:204px;
    width:91px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:25px;
    top:250px;
    width:78px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:93px;
    top:244px;
    width:124px;
    height:31px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:25px;
    top:291px;
    width:78px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:93px;
    top:285px;
    width:124px;
    height:31px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:25px;
    top:332px;
    width:85px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:110px;
    top:326px;
    width:124px;
    height:31px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24_line {
    background-image: url('../订单提交页面_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:768px;
    height:3px;
}

.u24 {
    position:absolute;
    left:0px;
    top:424px;
    width:768px;
    height:10px;
    
}

.u25 {
    position:absolute;
    left:12px;
    top:398px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:93px;
    top:444px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:292px;
    top:444px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:372px;
    top:444px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:566px;
    top:444px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:450px;
    top:444px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_container {
    position:absolute;
    left:25px;
    top:476px;
    width:109px;
    height:105px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:109px;
    height:105px;
}

.u32 {
    position:absolute;
    left:2px;
    top:44px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:144px;
    top:492px;
    width:115px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:292px;
    top:506px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:450px;
    top:506px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:374px;
    top:506px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:561px;
    top:506px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_line {
    background-image: url('../订单提交页面_files/u38_line.png');
}

.u38_line {
    position:absolute;
    left:0px;
    top:4px;
    width:768px;
    height:3px;
}

.u38 {
    position:absolute;
    left:0px;
    top:615px;
    width:768px;
    height:10px;
    
}

.u39 {
    position:absolute;
    left:12px;
    top:641px;
    width:104px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:116px;
    top:641px;
    width:305px;
    height:86px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:466px;
    top:644px;
    width:90px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:556px;
    top:642px;
    width:114px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:466px;
    top:690px;
    width:248px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_line {
    background-image: url('../订单提交页面_files/u44_line.png');
}

.u44_line {
    position:absolute;
    left:0px;
    top:4px;
    width:768px;
    height:3px;
}

.u44 {
    position:absolute;
    left:0px;
    top:761px;
    width:768px;
    height:10px;
    
}

.u45_normal {
    background-image: url('../订单提交页面_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:574px;
    top:781px;
    width:165px;
    height:46px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:52px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:161px;
    height:41px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

