body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1165px;
    height:1599px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1165px;
    height:1599px;
}

.u1 {
    position:absolute;
    left:2px;
    top:792px;
    width:1161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:0px;
    top:46px;
    width:1101px;
    height:45px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1101px;
    height:45px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:1066px;
    top:15px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_line {
    background-image: url('../会员管理_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:27px;
}

.u5 {
    position:absolute;
    left:120px;
    top:55px;
    width:10px;
    height:27px;
    
}

.u6_line {
    background-image: url('../会员管理_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:27px;
}

.u6 {
    position:absolute;
    left:240px;
    top:55px;
    width:10px;
    height:27px;
    
}

#u7 {
    position:absolute;
    left:5px;
    top:46px;
    width:116px;
    height:46px;
    overflow:hidden;
}

#pd0u7 {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:46px;
    
}

.u8_container {
    position:absolute;
    left:0px;
    top:-8px;
    width:150px;
    height:66px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:66px;
}

.u9 {
    position:absolute;
    left:2px;
    top:25px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:30px;
    top:61px;
    width:67px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:150px;
    top:61px;
    width:69px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../会员管理_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:5px;
    top:112px;
    width:138px;
    height:486px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:492px;
}

.u13 {
    position:absolute;
    left:2px;
    top:235px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:272px;
    top:61px;
    width:67px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../会员管理_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:27px;
}

.u16 {
    position:absolute;
    left:360px;
    top:54px;
    width:10px;
    height:27px;
    
}

.u17 {
    position:absolute;
    left:392px;
    top:61px;
    width:67px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_container {
    position:absolute;
    left:5px;
    top:112px;
    width:138px;
    height:1390px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:138px;
    height:1390px;
}

.u19 {
    position:absolute;
    left:2px;
    top:687px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_selected {
    background-image: url('../会员管理_files/u22_selected.png');
}

.u22_normal {
    background-image: url('../会员管理_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u23 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u24_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u25 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u27_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u27_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u28 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u30_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u30_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u31 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u33_selected {
    background-image: url('../会员管理_files/u22_selected.png');
}

.u33_normal {
    background-image: url('../会员管理_files/u22_normal.png');
}

.u33_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u34 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u35_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u36 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u38_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u38_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u39 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u41_selected {
    background-image: url('../会员管理_files/u22_selected.png');
}

.u41_normal {
    background-image: url('../会员管理_files/u22_normal.png');
}

.u41_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u42 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u43_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u44 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u46_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u46_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u47 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u49_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u49_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u50 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

