body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:48px;
    top:62px;
    width:80px;
    height:84px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:84px;
}

.u1 {
    position:absolute;
    left:2px;
    top:34px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:565px;
    top:14px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:48px;
    top:14px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:96px;
    top:14px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:643px;
    top:14px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:180px;
    top:62px;
    width:368px;
    height:33px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_normal {
    background-image: url('../User_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:573px;
    top:62px;
    width:33px;
    height:33px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:33px;
}

.u8 {
    position:absolute;
    left:2px;
    top:8px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../User_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:728px;
    height:3px;
}

.u9 {
    position:absolute;
    left:35px;
    top:30px;
    width:728px;
    height:10px;
    
}

.u11 {
    position:absolute;
    left:65px;
    top:190px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:77px;
    top:256px;
    width:150px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_container {
    position:absolute;
    left:77px;
    top:324px;
    width:150px;
    height:166px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:166px;
}

.u14 {
    position:absolute;
    left:2px;
    top:75px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:320px;
    top:263px;
    width:443px;
    height:227px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:694px;
    top:519px;
    width:69px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:306px;
    top:673px;
    width:197px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../Copyright_files/u95_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:819px;
    height:3px;
}

.u24 {
    position:absolute;
    left:0px;
    top:637px;
    width:819px;
    height:10px;
    
}

.u25_normal {
    background-image: url('../Copyright_files/u96_normal.png');
}

.u25_container {
    position:absolute;
    left:298px;
    top:723px;
    width:180px;
    height:29px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:35px;
}

.u26 {
    position:absolute;
    left:2px;
    top:6px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

