body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:13px;
    top:48px;
    width:80px;
    height:84px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:84px;
}

.u1 {
    position:absolute;
    left:2px;
    top:34px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:530px;
    top:0px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:13px;
    top:0px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:61px;
    top:0px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:608px;
    top:0px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:145px;
    top:48px;
    width:368px;
    height:33px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_normal {
    background-image: url('../User_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:538px;
    top:48px;
    width:33px;
    height:33px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:33px;
}

.u8 {
    position:absolute;
    left:2px;
    top:8px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../User_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:728px;
    height:3px;
}

.u9 {
    position:absolute;
    left:0px;
    top:16px;
    width:728px;
    height:10px;
    
}

.u11_container {
    position:absolute;
    left:16px;
    top:142px;
    width:310px;
    height:354px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:310px;
    height:354px;
}

.u12 {
    position:absolute;
    left:2px;
    top:169px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_container {
    position:absolute;
    left:16px;
    top:517px;
    width:50px;
    height:50px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u14 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_container {
    position:absolute;
    left:104px;
    top:517px;
    width:50px;
    height:50px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u16 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../商品信息页面_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:276px;
    top:517px;
    width:50px;
    height:50px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u18 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_container {
    position:absolute;
    left:192px;
    top:517px;
    width:50px;
    height:50px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u20 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:372px;
    top:142px;
    width:354px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:372px;
    top:224px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:372px;
    top:360px;
    width:50px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:432px;
    top:352px;
    width:70px;
    height:35px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:524px;
    top:360px;
    width:166px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:372px;
    top:286px;
    width:50px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:422px;
    top:272px;
    width:95px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../商品信息页面_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:58px;
    height:3px;
}

.u28 {
    position:absolute;
    left:418px;
    top:228px;
    width:58px;
    height:10px;
    
}

.u29_line {
    background-image: url('../商品信息页面_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:0px;
    top:4px;
    width:664px;
    height:3px;
}

.u29 {
    position:absolute;
    left:16px;
    top:577px;
    width:664px;
    height:10px;
    
}

.u30_normal {
    background-image: url('../商品信息页面_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:485px;
    top:474px;
    width:171px;
    height:33px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:39px;
}

.u31 {
    position:absolute;
    left:2px;
    top:0px;
    width:167px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u32 {
    position:absolute;
    left:16px;
    top:587px;
    width:665px;
    height:1410px;
    overflow:hidden;
}

#pd1u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:665px;
    height:1410px;
    
}

.u33_normal {
    background-image: url('../商品信息页面_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:94px;
    height:29px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:35px;
}

.u34 {
    position:absolute;
    left:2px;
    top:6px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../商品信息页面_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:94px;
    top:0px;
    width:94px;
    height:29px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:35px;
}

.u36 {
    position:absolute;
    left:2px;
    top:6px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../商品信息页面_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:45px;
    width:664px;
    height:347px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:670px;
    height:353px;
}

.u38 {
    position:absolute;
    left:2px;
    top:166px;
    width:660px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:146px;
    top:180px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../商品信息页面_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:45px;
    width:664px;
    height:549px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:664px;
    height:549px;
}

.u41 {
    position:absolute;
    left:2px;
    top:266px;
    width:660px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../商品信息页面_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:594px;
    width:664px;
    height:427px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:664px;
    height:427px;
}

.u43 {
    position:absolute;
    left:2px;
    top:206px;
    width:660px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../商品信息页面_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:1021px;
    width:664px;
    height:554px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:664px;
    height:554px;
}

.u45 {
    position:absolute;
    left:2px;
    top:269px;
    width:660px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:665px;
    height:1410px;
    
}

.u46_normal {
    background-image: url('../商品信息页面_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:0px;
    width:94px;
    height:29px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:35px;
}

.u47 {
    position:absolute;
    left:2px;
    top:6px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../商品信息页面_files/u33_normal.png');
}

.u48_container {
    position:absolute;
    left:94px;
    top:0px;
    width:94px;
    height:29px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:35px;
}

.u49 {
    position:absolute;
    left:2px;
    top:6px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../商品信息页面_files/u37_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:45px;
    width:664px;
    height:347px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:670px;
    height:353px;
}

.u51 {
    position:absolute;
    left:2px;
    top:166px;
    width:660px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../商品信息页面_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:29px;
    width:664px;
    height:288px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:664px;
    height:288px;
}

.u53 {
    position:absolute;
    left:2px;
    top:136px;
    width:660px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_container {
    position:absolute;
    left:0px;
    top:317px;
    width:664px;
    height:346px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:664px;
    height:346px;
}

.u55 {
    position:absolute;
    left:2px;
    top:165px;
    width:660px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_container {
    position:absolute;
    left:0px;
    top:623px;
    width:664px;
    height:425px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:664px;
    height:425px;
}

.u57 {
    position:absolute;
    left:2px;
    top:204px;
    width:660px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_container {
    position:absolute;
    left:0px;
    top:1058px;
    width:664px;
    height:349px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:664px;
    height:349px;
}

.u59 {
    position:absolute;
    left:2px;
    top:166px;
    width:660px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u60 {
    position:absolute;
    left:422px;
    top:414px;
    width:298px;
    height:155px;
    overflow:hidden;
}

#pd0u60 {
    position:absolute;
    left:0px;
    top:0px;
    width:298px;
    height:155px;
    
}

.u61_normal {
    background-image: url('../商品信息页面_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:0px;
    width:297px;
    height:152px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:303px;
    height:158px;
}

.u62 {
    position:absolute;
    left:2px;
    top:68px;
    width:293px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:48px;
    top:35px;
    width:182px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:124px;
    top:78px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:24px;
    top:116px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66 {
    position:absolute;
    left:162px;
    top:116px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67_normal {
    background-image: url('../商品信息页面_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:274px;
    top:0px;
    width:23px;
    height:24px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:24px;
}

.u68 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

